* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: calc(100 - 60);
  font-family: sans-serif;
  color: #fff;
  background: linear-gradient(to right, rgb(37, 83, 76), rgb(106, 17, 27));
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.header {
  margin-top: 20px;
  min-width: 500px;
}
.header h1 {
  font-size: 50px;
  font-weight: 700;
  color: gold;
}

.header input {
  width: 60%;
  border: none;
  outline: none;
  padding: 4px;
  font-size: 24px;
  background: transparent;
  color: white;
  text-align: center;
  border-bottom: 2px solid goldenrod;
  margin-top: 20px;
}

.content {
  min-width: 500px;
  height: 500px;
  margin-top: 12px;
}
.city {
  margin-top: 20px;
  font-size: 44px;
  font-weight: 300;
}
.temperature {
  font-size: 32px;
  margin-top: 20px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 30px;
  margin-top: 40px;
}
.humidity {
  margin-right: 20px;
}
.bi-moisture {
  margin-right: 52px;
}
.info .wind {
  margin-right: 20px;
}
